.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
margin: auto;
width: 30%;
justify-items: center;
}
.product_container section{margin: 0 auto;}
