* {
  margin: 0;
  padding: 0;
}
* p{
margin-bottom: 0 !important;
}
.fixed {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #0E0E0E;
}
.img img {
  width: 120px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #0E0E0E;
  color: aliceblue;
  
}
.search {
  size: 25px;
}
.icon {
  background-color: #f3a847;
  padding: 10px;
  border: none;
}
.location1 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -19px;
  }

.select {
  width: 100%;
  display: flex;
}
.select:focus-within {
 outline: #f3a847 2px solid;
}


.select select {
  background-color: rgb(243, 242, 242);
}
.select select,
.select input {
  padding: 10px;
}
.select input {
  width: 100%;
}
.select input:focus {
outline:none;
}

.flagAndSelect {
  display: none;
}
.menu {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #0E0E0E;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

  .menu a {
    text-decoration: none;
    color: aliceblue;
    background-color: #0E0E0E;
  }
  .menuItem{
      background-color: #0E0E0E;
      color: aliceblue;
      border: none;
  }

  .menuItem:hover {
    border: white 1px solid;
  }

  .location p {
  margin-bottom: 12px !important;
}
.cart {
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    padding: 11px 12px 0;
}
.cart span {
  position: absolute;  
  right: 40px;
  top: -7px;
  font-size: 20px;
  color: #f3a847;

}
.cartDiv {
  display: flex;
}
.cartDiv p {
font-size: 11px !important;
margin-top: 20px;
}

.hover:hover {
    border: white 1px solid;
}

.lowerHeader {
  background-color: #232f3e;
  color: white;
  height: 30px;

}
.lowerHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lowerHeader ul p {
  margin-left: 30px;
}

.lowerHeader ul li {
  padding: 0 10px;
}
.lowerHeader ul li:hover {
  border: 1px solid white;
  height: 25px !important;
  margin-left: 10px;
}

.menuIcon {
  position: absolute;
  left: 10px;
}
.menuIcon p {
 display: none;
}
.menuIcon:focus {
  background-color: #232f3e;  
}


.lowerHeader .dropdownClosed {
  display: none;
}

.lowerHeader .dropdownOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: #232f3e;
  z-index: 1;
}

@media (min-width: 890px) {
  .navDivs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0E0E;
    color: aliceblue;
    font-weight: bold;
  }
  .logo {
    width: 500px;
    margin-left: -10px;
  }
  .select input {
    width: 90%;
  }
 .img img {
  width: 120px;
  height: 50px;
}
  .location {
    margin-right: 5px;
  }
  .location p {
    font-size: 10px;
    margin-left: 20px;
  }
  .location span {
    font-size: 16px;
  }
  .location1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .flagAndSelect {
    display: flex;
    gap: 5px;

    margin: 10px 10px 0;
  }
  .flagAndSelect a img {
    width: 35px;
    height: 30px;
  }
  .flagAndSelect select {
    width: 45px;
    height: 30px;
  }

  .menu {
    display: flex;
    height: 70px;
    color: aliceblue;
  }
  
  .menu-divider {
    padding: 10px;
  }
  .menuItem{
   display: flex;
  height: 30px;
  color: aliceblue;
  }
  .menuItem p {
      font-size: 12px;
    }

  .userSignIn {
  width: 150px;
}
.userSignIn:hover {
  border: white 1px solid;
}
  .menuIcon p {
    display: block;
  }
  .menuIcon {
    display: flex;
  }
  .return .p{
    font-size: 12px;
  }
  .lowerHeader .dropdownClosed {
  display: flex;
}
.lowerHeader .dropdownOpen {
  display: none;
}

.lowerHeader ul {
  display: flex;
}

}
